body {
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/48/26/watercolor-banner-tropical-flowers-vector-24634826.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 

